.sectionWrapper {
    padding-top: 17.06rem;
    display: flex;
    justify-content: center;
}

.sectionContainer {
    width: 100%;
    max-width: 1440px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.title {
    font-family: var(--font-medium);
    font-weight: 500;
    font-size: var(--text-7xl);
    line-height: 90%;
    width: 100%;
    max-width: 900px;
    grid-column: span 12;
}

.boxContainer {
    display: grid;
    grid-column: span 12;
    grid-template-columns: subgrid;
    gap: inherit;
}

@media (max-width: 768px) {
    .title {
        font-size: var(--text-6xl);
        text-align: center;
    }
}


