.buttonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.571rem;
    margin-top: var(--space-2xl);
}

.btn {
    font-family: var(--font-regular);
    font-size: var(--text-xs);

    color: var(--grey-btn-md-color);
    padding: var(--grey-btn-md-padding);
    border-radius: var(--grey-btn-md-radius);
    background-color: var(--grey-btn-md-bg);

    border: none;
    outline: none;
    user-select: none;
    cursor: pointer;
    transition: background-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    background-color: var(--bg-tertiary);
}

.btn:disabled {
    pointer-events: none;
    color: var(--text-disabled);
}
