.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2.285rem;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.285rem;
}

.header-title {
    font-family: var(--font-medium);
    font-size: var(--fs-lg2);
    color: var(--neutral-950);
}

.header-subtitle {
    font-family: var(--font-regular);
    font-size: var(--fs-xs);
    color: var(--neutral-500);
}

.header-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.714rem;
}

.header-create-btn {
    padding: 0.8rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    font-family: var(--font-regular), serif;
    font-size: var(--fs-sm);
    user-select: none;
    cursor: pointer;
    color: var(--neutral-50);
    background-color: var(--neutral-800);
    transition: background-color 0.3s ease-in-out;
}

.header-create-btn:hover {
    background-color: var(--neutral-700);
}

.header-search-container {
    border: 1px solid var(--neutral-200);
    padding: 0.8rem;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    cursor: text;
}

.header-search-input {
    font-family: var(--font-regular);
    font-size: var(--fs-xs);
    border: none;
    outline: none;
}

@media (max-width: 868px) {
    .header-container {
        align-items: flex-start;
        flex-direction: column;
        gap: 1.5rem;
    }

    .header-controls,
    .header-search-container {
        width: 100%;
    }

    .header-create-btn {
        flex-shrink: 0;
    }
}
















