.selectContainer {
    width: 100%;
    padding: 1rem 1.6rem;
    border-radius: 0.8rem;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.selectOption {
    border: none;
    outline: none;
    display: inline-block;
    background-color: var(--bg-primary);
    font-family: var(--font-medium);
    font-size: var(--text-sm);
    padding: 0.533rem 0.666rem;
    border-radius: 6px;
    color: var(--text-secondary);
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        background-color: #E5E5E5;
    }
}

.selectOption.active {
    background-color: #FFFFFF;
    color: var(--text-primary);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);

    &:hover {
        background-color: #FAFAFA;
    }
}