.container {
    width: 100%;
    max-width: 454px;
    height: 263px;
    margin-top: 2.285rem;
}

.hiddenInput {
    display: none;
}

.dropZoneContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary);
    border-radius: 1.333rem;
}

.dropZone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    padding-block: 3rem;
    padding-inline: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 1.333rem;
}

.dropZone:not(.hasFile) {
    cursor: pointer;
}

.dropZone.hasFile {
    cursor: default;
}


.iconContainer {
    padding: 0.7rem;
    border-radius: 8px;
    background-color: #EFEFEF;
    color: #6A6967;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer.trash {
    background-color: var(--red-btn-sm-bg);
    color: var(--red-btn-sm-color);
    cursor: pointer;
}

.dropZoneText {
    font-family: var(--font-medium);
    font-size: var(--text-md);
    color: var(--text-primary);
    margin-top: 1.1rem;
    text-align: center;
}

.dropZoneSubtext {
    font-family: var(--font-regular);
    font-size: var(--text-xs);
    color: var(--text-secondary);
    text-align: center;
    margin-top: var(--space-sm);
}

.selectedFile {
    border: 1px solid #E5E5E5;
    border-radius: 0.7rem;
    padding: 0.7rem;
    margin-top: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
}

.fileIcon {
    width: 40px;
    height: 40px;
    font-family: var(--font-bold);
    font-size: var(--text-xxs);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
    color: var(--text-secondary);
    border-radius: 6px;
    margin-right: 10px;
}

.fileDetails {
    display: flex;
    flex-direction: column;
}

.fileName {
    display: block;
    max-width: 14rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--font-medium);
    font-size: var(--text-xs);
    color: var(--text-primary);
}

.fileMeta {
    font-family: var(--font-medium);
    font-size: var(--text-xxs);
    color: var(--text-secondary);
}

.deleteIcon {
    display: inline-flex;
    margin-left: auto;
    padding: 0.7rem;
    border-radius: 0.4rem;
    cursor: pointer;

    &:hover {
        background-color: #E5E5E5;
    }

    &:hover path {
        fill: #ff3737;
    }
}
