.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.fieldWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%;
    max-width: 22rem;
}

.formLabel {
    font-family: var(--font-regular);
    font-size: var(--text-sm);
    color: var(--text-primary);
}

.formInput {
    font-family: var(--font-regular);
    font-size: var(--text-sm);
    background-color: var(--bg-primary);
    color: var(--text-primary);
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: var(--radius-sm);
}

.formSubmitBtn {
    font-family: var(--font-regular);
    font-size: var(--text-xs);
    background-color: var(--grey-btn-md-bg);
    color: var(--grey-btn-md-color);
    padding: var(--grey-btn-md-padding);
    border-radius: var(--grey-btn-md-radius);

    width: 100%;
    max-width: 22rem;
    border: none;
    outline: none;
    transition: background-color 0.18s cubic-bezier(0.4, 0, 0.2, 1);

    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
