.notSelectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--nav-padding);
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-white);
    border: 1px solid var(--border-primary);
    padding: 0.6rem;
    border-radius: 1.2rem;
    height: 100%;
    width: 100%;
    max-width: 700px;
    composes: notSelectable;
}

.leftSection {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.logo {
    font-family: var(--font-medium);
    font-size: var(--text-sm);
    color: var(--text-primary);
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.8rem;
    transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.3555, 1);
    background-color: var(--bg-secondary);
}

.buttonsContainer {
    display: flex;
    align-items: center;
    gap: 0.533rem;
}

.linkBtn {
    font-family: var(--font-regular);
    font-size: var(--text-sm);
    padding: 1rem;
    border-radius: 0.8rem;
    background-color: transparent;
    color: var(--text-primary);
    transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.3555, 1);
    text-decoration: none;
    line-height: 1;
    letter-spacing: 0.01em;
}

.linkBtn.generate {
    color: var(--text-brand);
    background-color: var(--bg-brand);
}

@media (hover: hover) {
    .logo:hover {
        background-color: var(--bg-tertiary);
    }

    .linkBtn:hover {
        background-color: var(--bg-secondary);
    }

    .linkBtn.generate:hover {
        background-color: var(--bg-brand-hover);
    }
}