.layoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 8rem;
    padding-inline: 1rem;
}

.title {
    font-family: var(--font-medium);
    font-size: var(--text-lg);
    font-weight: 500;
    color: var(--text-primary);
    text-align: center;
    margin-bottom: var(--space-sm);
}

.description {
    font-family: var(--font-regular);
    font-size: var(--text-sm);
    color: var(--text-secondary);
    text-align: center;
    margin-bottom: var(--space-3xl);
}

.toggleContainer {
    margin-top: 2rem;
}

.toggleText {
    font-family: var(--font-regular);
    font-size: var(--text-xs);
    color: var(--text-secondary);
    text-align: center;
}

.toggleLink {
    color: var(--text-secondary);
}