.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 8.5rem);
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding-block: 5rem;
    max-height: 100%;
}

.hero-title {
    font-family: var(--font-bold);
    font-size: 4.26rem;
    width: 100%;
    max-width: 688px;
    text-align: center;
    line-height: 90%;
    margin-bottom: 1.6rem;
}

.hero-desc {
    font-family: var(--font-regular);
    font-size: var(--fs-md);
    color: var(--neutral-150);
    width: 100%;
    max-width: 454px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 2.13rem;
}

.hero-btn {
    padding: 0.857rem 1rem;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    background-color: var(--neutral-800);
    color: var(--neutral-50);
    user-select: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.hero-btn-txt {
    font-family: var(--font-regular);
    font-size: var(--fs-sm);
}

.hero-btn:hover {
    background-color: var(--neutral-700);
}

.tags-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1.06rem;
}

.tag {
    font-family: var(--font-medium), serif;
    font-size: 0.86rem;
    padding: 0.53rem;
    border-radius: 0.4rem;
}

.tag.green {
    background-color: rgba(22, 163, 74, 0.2);
    color: #15803D;
}

.tag.blue {
    background-color: rgba(37, 99, 235, 0.2);
    color: #1D4ED8;
}

.tag.pink {
    background-color: rgba(219, 39, 119, 0.2);
    color: #DB2777;
}

.tag.red {
    background-color: rgba(254, 1, 0, 0.2);
    color: #7D0000
}