.tabsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 0.8rem;
    background-color: var(--bg-primary);
    border-radius: 1.2rem;
    gap: 0.4rem;
}

.tab {
    font-family: var(--font-regular);
    font-size: var(--text-sm);
    padding: 1rem;
    border-radius: 0.533rem;
    user-select: none;
    cursor: pointer;
    line-height: 1;
    color: var(--text-tertiary);
}

.tab.active {
    background-color: #EFEFEF;
    color: #6A6967;
}