.card {
    grid-column: 4 / span 6;
    padding: 2.133rem;
    border-radius: 1.33rem;
    background-color: var(--bg-primary);
}

.title {
    font-family: var(--font-medium);
    font-weight: 500;
    font-size: var(--text-base);
    color: var(--text-primary);
    margin-bottom: var(--space-xl);
}

.currentPlan {
    font-family: var(--font-medium);
    font-weight: 500;
    font-size: var(--text-3xl);
    color: var(--text-secondary);
    margin-bottom: var(--space-md);
    width: fit-content;
    line-height: 1;
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    background-color: var(--bg-secondary);
    text-transform: capitalize;
}

.description {
    font-family: var(--font-regular);
    font-size: var(--text-xs);
    color: var(--text-secondary);
}

.btn {
    font-family: var(--font-regular);
    font-size: var(--text-xs);
    color: var(--grey-btn-sm-color);
    background-color: var(--grey-btn-sm-bg);
    padding: var(--grey-btn-sm-padding);
    border-radius: var(--grey-btn-sm-radius);
    border: none;
    outline: none;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    cursor: pointer;
    margin-top: var(--space-xl);
}

.linkItem {
    color: var(--text-primary);
}

@media (max-width: 1024px) {
    .card {
        grid-column: 2 / span 10;
    }
}

@media (max-width: 768px) {
    .card {
        grid-column: span 12;
    }
}