* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Inter Regular";
    font-weight: 500;
    src: url("/Fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Medium";
    font-weight: 600;
    src: url("/Fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Inter Bold";
    font-weight: 600;
    src: url("/Fonts/Inter-Bold.ttf") format("truetype");
}

:root {
    /* Font Family */
    --font-regular: "Inter Regular";
    --font-medium: "Inter Medium";
    --font-bold: "Inter Bold";

    /* Font Sizes */
    --fs-xxxs: 0.714rem; /* 11px */
    --fs-xxs: 0.857rem; /* 12px */
    --fs-xs: 0.929rem; /* 13px */
    --fs-sm: 1rem; /* 14px */
    --fs-md: 1.143rem; /* 16px */
    --fs-lg: 1.286rem; /* 18px */
    --fs-lg2: 1.429rem; /* 20px */
    --fs-xl: 1.571rem; /* 22px */
    --fs-xxl: 2rem; /* 28px */

    /* Color Palette */
    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-150: #AAAAAA;
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;
    --neutral-950: #0a0a0a;

    /* Base font size */
    font-size: 14px; /* 1rem = 14px */
}