.stepper {
    user-select: none;
}

.stepperWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 2rem auto;
    position: relative;
}

.stepperContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}

.stepInfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.714rem;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #E5E5E5;
    position: relative;
}

.circle.active {
    background-color: var(--text-primary);
}

.circle.completed {
    background-color: #15803D;
}

.circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    box-sizing: content-box;
    border: 1.5px solid #E5E5E5;
}

.circle.active::after {
    border: 1.5px solid var(--text-primary);
}

.circle.completed::after {
    background-color: rgba(22, 163, 74, 0.2);
    border: 1.5px solid #15803D;
}

.label {
    font-family: var(--font-medium);
    font-size: var(--text-xs);
    color: #E5E5E5;
}

.label.active {
    color: var(--text-primary);
}

.label.completed {
    color: #15803D;
}

.line {
    position: absolute;
    top: 3px;
    left: calc(50% + 8px);
    width: calc(100% - 16px);
    height: 1.5px;
    background-color: #E5E5E5;
    z-index: -1;
}

.line.lineCompleted {
    background-color: #15803D;
}